:root {
  --error: rgb(228, 46, 1);
  --Dark-Purple: #462873;
  --Dark-Purple-Opaque: rgba(70, 40, 115, .75);
  --Light-Purple: #9484B2;
  --Light-Purple-Opaque: rgba(148, 132, 178, .75);
  --Light-Pink: #FFD9EE;
  --Teal: #0ddab4; 
}

html,
body {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-size: calc(2.5rem * 0.5);
  background: var(--Light-Pink);
  font-family: 'Century Gothic', 'Century Gothic', 'Apple Gothic', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

a:hover {
  text-decoration: none;
}

.card a{
  color: var(--Dark-Purple);
}

.card a:hover{
  color: var(--Teal);
}
header, footer {
  background-image: url(assets/background/background.jpg);
  background-size: cover;
  background-position: 80% 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 15px;
  z-index: 9999;
}

.header-name{
  text-align: center;

}

header h1{
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

header h2{
  color: var(--Teal);
  font-weight: lighter;
  font-size: 1.5rem;
}

label{
  color: var(--Dark-Purple);
}

input, textarea {
  border: 1px solid var(--Dark-Purple);
  outline: none;
  border-radius: 10px;
  transition: box-shadow 0.2s;
  background-color: var(--white-color);
}

input:focus, textarea:focus {
  border: 1px solid var(--white-color);
  color: black;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);

}

nav a:hover, nav a:focus, .navActive{
  text-decoration: none;
  color: Pink;
}

nav li {
  cursor: pointer;
  color: white;
  font-size: 1em;
  list-style: none;
}

nav li:hover {
  color: var(--Teal);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--Dark-Purple);
}

footer i {
  color: white;
}

footer i:hover{
  color: var(--Light-Pink);
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

.btn {
  background-color: var(--Dark-Purple);
  color: white;
}

.btn:hover{
  color: var(--Teal);
}